@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
font-family:"Poppins",sans-serif;
margin:0px;
padding:0px;
box-sizing:border-box;
outline:none;
border:none;
list-style:none;
text-decoration:none;
transition:all .2s linear;
transition:width none;
}
html{
font-size:80%;
overflow-x:hidden;
}
.border{
width:77px;
height:4px;
background:purple;
margin:13px auto;
}
.cart-title{
text-align:center;
justify-content:center;
margin-top:50px;
color:#434343;
font-size:23px;
}
.cart-box{
display:grid;
grid-template-columns:32% 50% 18%;
align-items:center;
gap:1rem;
margin-top:40px;
}
.cart-img{
width:140px;
height:120px;
object-fit:contain;
padding:10px;
margin-left:80px;
}
.detail-box{
display:grid;
row-gap:0.5rem;
margin-left:160px;
color:#434343;
font-size:12px;
}
.cart-product-title{
font-size:12px;
}
.cart-quantity{
border:1px solid #434343;
width:2.4rem;
text-align:center;
font-size:1rem;
}
.cart-remove{
font-size:16px;
color:#434343;
cursor:pointer;
margin-left:80px;
}
.cart-remove:hover{
color:purple;
}
.total{
display:flex;
justify-content:flex-end;
margin-top:1.5rem;
border-top:1px solid #434343;
}
.total-title{
font-size:14px;
color:#434343;
}
.total-price{
font-size:14px;
margin-left:0.5rem;
margin-right:85px;
}
.btn-buy{
background:purple;
width:110px;
height:32px;
border-radius:5px;
margin-top:10px;
color:#fff;
font-size:12px;
text-align:center;
margin-left:595px;
}



































